.DS_Store
.idea
npm-debug.log
*_book
*.pyc
server_conf.js

.tmp
trash

/node_modules
/bower_components
/dist
/release
/build
/libs

/**/node_modules
/**/dist
/**/build
/**/release



/db/mongo_data
/db/dump.rdb