<!DOCTYPE html>
<html lang="en">
{% include '_head_.html' %}
<body>
  <form type="event" action="test">
    <h4>Create free demand</h4>
    <div class="results">
      <div class="success" style="display:none;">Success</div>
      <div class="error" style="color:red;"></div>
    </div>
    <p>
    	Name:
    	<input type="text"
             field="text"
             name="subject"
             label="Name"
             required>
    </p>
    <p>
    	Sex:
      <div name="xxx"
           type="radio"
           label="Sex"
           field="radio">
        <input type="radio" name="gender" value="male"> Male<br>
        <input type="radio" name="gender" value="female"> Female<br>
        <input type="radio" name="gender" value="other" checked> Other
      </div>
    </p>
    <p>
    	I Like:
      <div name="like"
           type="checkbox"
           label="I Like"
           field="checkbox">
        <input type="checkbox" name="food" value="Milk"> Milk<br>
        <input type="checkbox" name="food" value="Butter"> Butter<br>
        <input type="checkbox" name="food" value="Cheese"> Cheese<br>
      </div>
    </p>
    <p>
    	Fuck:
      <select name="fuck"
              label="Fuck"
              field="selector">
          <option value="1">Breakfast</option>
          <option value="2">Lunch</option>
          <option value="3">Dinner</option>
          <option value="4">Snacks</option>
          <option value="5">Dessert</option>
      </select>
    </p>
    <p>
    	Class Type:
      <select name="type"
              label="Class Type"
              multiple
              field="multi-selector">
          <option value="1">Breakfast</option>
          <option value="2">Lunch</option>
          <option value="3">Dinner</option>
          <option value="4">Snacks</option>
          <option value="5">Dessert</option>
      </select>
    </p>
    <p>
    	Message
    	<textarea name="message"
                field="textarea"
                label="Message"
                rows="6"
                ></textarea>
    </p>
    <input type="submit" value="make demand"/>
  </form>
  <p>
    <a href="index.html">Back</a>
  </p>
{% include '_js_.html' %}
</body>
</html>
