<!DOCTYPE html>
<html lang="en">
{% include '_head_.html' %}
<body>
  <div id="log">
  	<a href="login.html">login</a>
  </div>
  <div id="profile">
    <p>Login: <span member-log></span></p>
  	<p>Name: <span member-name></span></p>
    <p>Email: <span member-email></span></p>
    <p>Avatar: <span member-avatar></span></p>
    <p>Mobile: <span member-mobile></span></p>
    <p>Status: <span member-status></span></p>
  </div>
  <div>
    <button id="wx-link-btn" style="display:none">
      Link member to WeChat
    </button>
    <button id="wx-unlink-btn" style="display:none">
      UnLink member from WeChat
    </button>
  <div>
  <div>
    <p>
  	  <a href="edit.html">Edit</a>
      <a href="events.html">Activities</a>
    </p>
    <p><a href="demand.html">Make Demand</a></p>
    <p><a href="mailform.html">Mailform</a></p>
  </div>

  <div>
    <p><input type="submit" id="logout" value="logout"/></p>
  </div>

{% include '_js_.html' %}
</body>
</html>
