<!DOCTYPE html>
<html lang="en">
{% include '../_head_.html' %}
<body>
  <form class="form-appt"
        type="event"
        action="test"
        title="Test"
        app-id="56ceec0ef596b16b1a1d33c7">
    <h4>Create Appointment</h4>
    <div class="flash">
      <div class="success" style="display:none;">Success</div>
      <div class="error" style="display:none; color:red;">Error</div>
    </div>
    <p>
    	Name:
    	<input type="text"
             field="text"
             name="appointee"
             required>
    </p>
    <p>
    	Sex:
      <div name="xxx"
           type="radio"
           field="radio">
        <input type="radio" name="gender" value="male"> Male<br>
        <input type="radio" name="gender" value="female"> Female<br>
        <input type="radio" name="gender" value="other" checked> Other
      </div>
    </p>
    <p>
    	I Like:
      <div name="like"
           type="checkbox">
        <input type="checkbox" name="food" value="Milk"> Milk<br>
        <input type="checkbox" name="food" value="Butter"> Butter<br>
        <input type="checkbox" name="food" value="Cheese"> Cheese<br>
      </div>
    </p>
    <p>
    	Fuck:
      <select name="fuck">
          <option value="1">Breakfast</option>
          <option value="2">Lunch</option>
          <option value="3">Dinner</option>
          <option value="4">Snacks</option>
          <option value="5">Dessert</option>
      </select>
    </p>
    <p>
    	Message
    	<textarea name="message"
                rows="6"></textarea>
    </p>
    <button type="submit">
      Make Appointment
    </button>
  </form>
  <p>
    <a href="index.html">Back</a>
  </p>
{% include '../_js_.html' %}
<script src="appointment.js"></script>
</body>
</html>
