<!DOCTYPE html>
<html lang="en">
{% include '_head_.html' %}
<body>
  <div id="applyments">
    
  </div>
  
  <form id="create-apply-form">
    <h4>Create apply</h4>
    <p>
      <input type="radio" name="free" id="radio_free" value="1"/>
        <label for="radio_free">Free</label>
      <input type="radio" name="free" id="radio_member" value="0" checked/>
        <label for="radio_member">Member</label>
    </p>
    <p>
    	Name:
    	<input type="text" name="name" title="input your name">
    </p>
    <p>
    	Activity ID:
    	<input disabled type="text" name="act_id" 
             title="input your activity id"/>
    </p>
    <p>
    	Message
    	<textarea name="message" rows="6"></textarea>
    </p>
    <p id="code">
      Promo Code:
      <input type="text" name="code" title="input promo code here"/>
      <br>
      <small>Promo is given by the owner, it's optional.</small>
    </p>
    <input type="submit" value="make applyment"/>
  </form>
  <p>
    <a href="applyments.html">My Applyments</a>
    &nbsp;
    <a href="index.html">Back</a>
  </p>
{% include '_logout_.html' %}
{% include '_js_.html' %}
</body>
</html>
