<!DOCTYPE html>
<html lang="en" data-app="5618bd3ef596b149a47b8df9">
{% include '_head_.html' %}
<body>
  <div id="log">
  	<a href="login.html">login</a>
  </div>
  <div id="profile">
  	<p class="member-name"></p>
  	<p class="member-email"></p>
  	<p class="member-photo"></p>
  	<p class="member-mobile"></p>
  	<input type="submit" id="logout" value="logout"/>
  	<a href="edit_profile.html">Edit</a>
  </div>
  <div class="applyment" data-alias="test_activity">
  </div>
{% include '_js_.html' %}
</body>
</html>
