<!DOCTYPE html>
<html lang="en" data-app="5618bd3ef596b149a47b8df9">
{% include '_head_.html' %}
<body>
  <div id="log">
  	<a href="login.html">login</a>
  </div>
  <div id="profile">
    <p>Login: <span member-log></span></p>
  	<p>Name: <span member-name></span></p>
    <p>Email: <span member-email></span></p>
    <p>Avatar: <span member-avatar></span></p>
    <p>Mobile: <span member-mobile></span></p>
  </div>
  <div>
    <p>
  	  <a href="edit.html">Edit</a>
      <a href="applyments.html">Applyments</a>
    </p>
    <p>
  	  <input type="submit" id="logout" value="logout"/>
    </p>
  </div>
  <div class="applyment" data-alias="test_activity">
  </div>
{% include '_js_.html' %}
</body>
</html>
