<!DOCTYPE html>
<html lang="en">
{% include '_head_.html' %}
<body>
  <div>
  	Login
  	<p id="seccesed" style="display: none;">Login seccessed!</p>
  	<p id="failed" style="display: none;">Login failed!</p>
  	<form id="login-form">
  		<p>
  			Name:
  			<input type="text" name="log" title="input name"/>
  		</p>
  		<p>
  			Password:
  			<input type="text" name="pwd" title="input password"/>
  		</p>
  		<p>
  			<input type="submit" value="login">
  		</p>
  	</form>
  	<a href="register.html">Register</a>
  	<a href="recovery.html">Recover</a>
  </div>
  <p><a href="demand.html">Free Demand</a></p>
  <p><a href="mailform.html">Mailform</a></p>
{% include '_js_.html' %}
</body>
</html>
