<!DOCTYPE html>
<html lang="en">
{% include '_head_.html' %}
<body>
  <h2 id="msgbox"></h2>
  <form id="recovery-form" style="display:none">
  	<h4>Recover password</h4>
  	<p>
  		login:
  		<input type="text" name="log" />
  	</p>
  	<p>
  		<input type="submit" value="Recovery">
  	</p>
  </form>
  <form id="resetpwd-form" style="display:none">
  	<h4>Reset password</h4>
  	<p>
  		new passowrd:
  		<input type="text" name="pwd" />
  	</p>
  	<p>
  		comfirm passowrd:
  		<input type="text" name="pwd2" />
  	</p>
  	<p>
  		<input type="submit" value="Recovery">
  	</p>
  </form>
  <p><a href="login.html">Login</a></p>
{% include '_js_.html' %}
</body>
</html>
