<!DOCTYPE html>
<html lang="en" data-app="5618bd3ef596b149a47b8df9">
{% include '_head_.html' %}
<body>
  <form id="register-form">
    Register:
    <p id="seccesed" style="display: none;">Logup seccessed!</p>
    <p id="false" style="display: none;">Logup failed!</p>
    <p id="same" style="display: none;">Password is wrong!</p>
    <p>
      Login:
      <input type="text" name="log" title="input login name"/>
    </p>
    <p>
      Password:
      <input type="text" name="pwd" title="input password"/>
    </p>
    <p>
      Confirm Password:
      <input type="text" name="pwd2" title="input password again"/>
    </p>
    <p>
      Name:
      <input type="text" name="name" title="input your name"/>
    </p>
    <p>
      Email:
      <input type="email" name="email" title="input email address"/>
    </p>
    <p>
      Photo:
      <input type="text" name="photo" title="input photo"/>
    </p>
    <p>
      Mobile:
      <input type="text" name="mobile" title="input phone number"/>
    </p>
    <input type="submit" value="register" id="register"/>
    <a href="login.html" style="display: none;" id="goin">login</a>
  </form>
{% include '_js_.html' %}
</body>
</html>
